<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title} )}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Profile Page</title>
</head>
<body>
    <section id="content">
      <h1>This is after login page</h1>
        <p>thidv heading section </p>
        <img src="https://lh3.googleusercontent.com/a/ACg8ocLTzFCGfzPZ30iLdNmWWCmcYFClHkHvpLn-2XKaa5zmcOj3ke8=s96-c" alt="profile image">
        <a href="/logout"> LOGOUT </a>
    </section>
</body>
</html>