<!DOCTYPE html>
<html lang="en" 
th:fragment="parent(content,title,script )"  
xmlns:th="http://www.thymeleaf.org"
class="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Aaomile-Base Page</title>
    <link rel="icon" type="image" data-th-href="@{'/images/logo_icon.png'}">
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.1/lottie.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Google Fonts -->
 
</head>

<body>
    <!--  user is logged in : navbar -->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
      </div>
  
      <!-- user is not logged : navbar -->
      <div th:unless="${loggedInUser}">
        <div data-th-replace="~{navbar :: navbar}"></div>
      </div>
      <!-- main content -->
   
     <section data-th-replace="${content}"></section>
     
      <!-- footer -->
       <div data-th-replace="~{footer::footer}"></div>
    
      <!-- Scripts -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
     <script data-th-src="@{'/js/script.js'}"></script>
     <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
     <th:block data-th-replace="${script}"></th:block>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
</body>
</html>