<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title} )}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaomile-About Page</title>
</head>
<body>
  <section id="content">
    <div class="container mt-4">
      <h1 class="text-center fs-6 p-4" id="genre-heading">Category : </h1>
      <div class=" filters d-flex justify-content-center align-items-center p-lg-5">
          <!-- Genre Filter Buttons -->
          <div class="filter-buttons">
              <button  onclick="filterGenre('All')" class="active">All</button>
              <button  onclick="filterGenre('Workshops')">Workshops  </button>
              <button  onclick="filterGenre('Courses')">Courses  </button>
                <button  onclick="filterGenre('Comedy')">Comedy</button>
              <button  onclick="filterGenre('Theatre')">Theatre </button>
              <button  onclick="filterGenre('Kids & Fun')">Kids & Fun</button>
            
          </div>
  
          <!-- Sorting Dropdown -->
          <div class="sorting">
              <select onchange="sortEvents()" id="sortDropdown">
                  <option value="Popularity">Popularity</option>
                  <option value="PriceLow">Price: Low to High</option>
                  <option value="PriceHigh">Price: High to Low</option>
              </select>
          </div>
      </div>
  
      <!-- Events Section -->
      <div id="eventsContainer" class="row"></div>
  </div>
   </section>
</body>
</html>