<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Aaomilo-home</title>
</head>
<body>
    <section class="row flex-lg-row-reverse align-items-center g-5 py-5">
        
        <div class=" col-10 col-sm-8 col-lg-6">
            <img src="https://cdn-om.cdnpk.net/users/133/133527674/uploads/66de612c-ada3-4a4a-b0f6-91cae0e883d8/66de612c-ada3-4a4a-b0f6-91cae0e883d8-thumb.jpg?token=exp=1735506152~hmac=b960f3ece521803025d3174bc6d9326b" class="d-block mx-lg-auto img-fluid" width="600" height="500" alt="Event Image">
        </div>
        <div class="col-lg-5">
            <h1 id="homePageHeading" class="display-5 fw-bold lh-1 mb-3">Welcome to The Event Hub You've Been Waiting For!</h1>
            <p class="lead">From booking tickets to meeting like-minded individuals, we've designed an experience that’s as exciting as the events themselves. It's not just about attending—it's about living the moment, making memories, and feeling the rush of being where the action is.</p>
            <button type="button" id="btn-explore" class="btn btn-primary btn-lg px-4 me-md-2">Explore</button>
        </div>
    </section>


   
   
</body>
</html>