<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title} )}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaomile-Login</title>
</head>
<body>
   
    <!-- <section id="content">
      <div class="container1 bg-prime shadow-sm">
        <div class="row">
          
          <div class="col-12 col-md-6">
            <div class="p-3">
              <h3 class="text-center">Welcome Back!</h3>
              <img class="img-fluid rounded mx-auto d-block mb-3" th:src="@{/images/rb_557.png}" alt="BootstrapBrain Logo">
              <p class="text-center">Don't have an account yet? <a href="signup" class="link-secondary text-decoration-none">Register now</a></p>
            </div>
          </div>
    
          
          <div class="col-12 col-md-6">
            <div class="p-3">
              <h2 class="text-center">Login</h2>
              <h3 class="fs-6 text-secondary text-center">Enter your credentials to log in</h3>

       
            <div class="alert alert-danger" role="alert" th:if="${param.error}">Invalid username and password.</div>
     
          <div class="alert alert-success" role="alert" th:if="${param.logout}">You have been logged out.</div>

              <form data-th-action="@{'/authentication'}" method="post">
                <div class="row gy-3">
                  <div class="col-12">
                    <label for="username" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="email" id="username" placeholder="name@example.com" required>
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                  </div>
                  <div class="col-12 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember Me</label>
                    </div>
                    <a href="#!" class="link-primary text-decoration-none">Forgot Password?</a>
                  </div>
                  <div class="col-12">
                    <input type="submit" class="btn btn-danger w-100">
                  </div>
                </div>
              </form>
              <hr>
              <p class="text-center">Or log in with</p>
              <div class="d-flex gap-3 flex-column flex-xl-row justify-content-center">
                <a data-th-href="@{'/oauth2/authorization/google'}" class="btn bsb-btn-xl btn-outline-primary">
                  <i class="bi bi-google"></i> <span class="ms-2">Google</span>
                </a>
                <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                  <i class="bi bi-facebook"></i> <span class="ms-2">Facebook</span>
                </a>
                <a href="#!" class="btn bsb-btn-xl btn-outline-primary">
                  <i class="bi bi-twitter"></i> <span class="ms-2">Twitter</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  <section id="content">
    <section class=" dark:bg-gray-900">
      <div class=" flex flex-col items-center justify-center px-6 py-4 mx-auto lg:py-1">
          
          <div class="w-full bg-gray-300 rounded-xl shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
              <div class="p-5 space-y-5 md:space-y-6 sm:p-8">
                  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                      Sign in to your account
                  </h1>
                  <form data-th-action="@{'/authentication'}" method="post" class="space-y-4 md:space-y-6">
                      <div>
                          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                          <input type="email" name="email" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-200 dark:focus:border-red-400" placeholder="name@company.com" required="">
                      </div>
                      <div>
                          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white form-control">Password</label>
                          <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                      </div>
                      <div class="flex items-center justify-between">
                          <div class="flex items-start">
                              <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" >
                              </div>
                              <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                              </div>
                          </div>
                          <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
                      </div>
                      <input type="submit" value="Login" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                          Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                      </p>
                  </form>
                  <hr>
              <p class="text-center text-slate-50 ">Or log in with</p>
              <div class="flex flex-col items-center justify-center ">
                  <a data-th-href="@{'/oauth2/authorization/google'}" type="button" class="  text-white bg-[#f44242] hover:bg-[#d91c1c]/90 focus:ring-4 focus:outline-none focus:ring-[#f44242]/50 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex     dark:focus:ring-[#d91c1c]/5 me-4 mb-4 ">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                    <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
                    </svg>
                    Sign in with Google
                  </a>
                </div>
              </div>
          </div>
      </div>
    </section>
  </section>
    
</body>
</html>