<!-- Navbar for Everyone -->
<nav data-th-fragment="navbar" class="relative navbar w-full top-0 start-0 border-b">

  <div class="">
    <div class="flex flex-wrap justify-between items-center  mx-auto max-w-screen-xl p-3 shadow-sm">
      <div class="logo">
        <a href="/" class="d-flex h-17 align-items-center text-decoration-none">
          <img class="w-48 h-12" id="theme-logo" data-theme-light th:src="@{'/images/BOOKNOW.png'}" alt="Light Logo">
          <img class="w-60 h-17" id="theme-logo" data-theme-dark th:src="@{'/images/BOOKNOW_black.png'}" alt="Dark Logo">
      </a>
    </div>
      <!-- add button to left side of login  -->

      <div class="flex  gap-2 rtl:space-x-reverse">
        <a href="/user/CreateEvent"
          class="relative md:inline-flex items-center justify-center p-0.5 mb-2 me-2  text-sm font-medium text-gray-900 rounded-full group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-5 focus:outline-none focus:ring-pink-100 dark:focus:ring-pink-800 hidden">
          <span
            class="relative px-4 py-2 transition-all ease-in duration-0 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0">
            List Your Event
          </span>
        </a>

        <div class=" w-full md:block md:w-auto">
          <div class="flex flex-col  items-start w-full md:flex-row md:space-x-4 md:items-center">
            <button id="theme_change_button" class="bg-gray-200 px-3 py-2 mr-2 md:flex hidden mb-2 rounded-full dark:bg-gray-500">
              <i class="fa-solid fa-circle-half-stroke" id="Light"></i>
            </button>

            </a>
            <!-- Login  -->
            <a href="/login"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-4  p-0.5 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Login</a>

            <!-- Signup -->
            <a href="/signup"
              class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
              Signup
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-300 dark:bg-gray-800 box-border">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
      <div class="flex items-center">
        <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
          <li>
            <a href="/" class="text-gray-900 dark:text-white hover:text-red-500" aria-current="page">Home</a>
          </li>
          <li>
            <a href="/Events-details" class="text-gray-900 dark:text-white hover:text-red-500">Event</a>
          </li>
          <li>
            <a href="/plays" class="text-gray-900 dark:text-white hover:text-red-500">Plays</a>
          </li>
          <li>
            <a href="/concerts" class="text-gray-900 dark:text-white hover:text-red-500">Concerts</a>
          </li>
          <li>
            <a href="/about" class="text-gray-900 dark:text-white hover:text-red-500">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="border-t-4 border-gray-200 dark:border-gray-500">
</nav>