 
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaomilo-Signup</title>
</head>
<body>
<section class="RegisterPage d-flex justify-content-center align-items-center">
    <div class="container bg-light p-4  h5 justify-content-center ">
        <h1 class="text-center">Registration Page</h1>
        <p class="text-center">Create an account </p>
        <hr>
        <div th:if="${param.error}">
            <div class="alert alert-danger" role="alert">
                Invalid username and password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-success" role="alert">
                You have been logged out.
            </div>
        </div>
        <div th:if="${param.register}">
            <div class="alert alert-success" role="alert">
                You have been registered.
            </div>
        </div>

        <!-- Registration form -->
        <form action="register" method="POST">
            <!-- Name of user ,id="name" , name= "name"  -->
            <div class="form-row align-items-center mb-3">
                <div class="col-md-3">
                    <label for="name" class="col-form-label">Name</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                </div>
            </div>
            <!--username of user , id="username" , name= "username"  -->
            <div class="form-row align-items-center mb-3">
                <div class="col-md-3">
                    <label for="username" class="col-form-label">Username</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
            </div>
            <!--Email of user , id="email" , name= "email"  -->
            <div class="form-row align-items-center mb-3">
                <div class="col-md-3">
                    <label for="email" class="col-form-label">Email Address</label>
                </div>
                <div class="col-md-9">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
            </div>
            <!--First password of user , id="password" , name= "password"  -->
            <div class="form-row align-items-center mb-3">
                <div class="col-md-3">
                    <label for="password" class="col-form-label">Password</label>
                </div>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
            </div>
            <!--Second password of user , id="confirmpassword" , name= "confirmpassword"  --> 
            <div class="form-row align-items-center mb-3">
                <div class="col-md-3">
                    <label for="confirmPassword" class="col-form-label">Confirm Password</label>
                </div>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                </div>
            </div>
            <!--Favorite Event Genre of user , id="genre" , name= "genre"  -->
            <div class="form-row align-items-center mb-3">
                <div class="col-md-3">
                    <label for="genre" class="col-form-label">Favorite Event Genre</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" id="genre" name="genre" required>
                        <option value="" disabled selected>Select a genre</option>
                        <option>Music</option>
                        <option>Technology</option>
                        <option>Sports</option>
                        <option>Education</option>
                        <option>Art</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row align-items-center">
                <div class="col-md-12 text-center">
                    <button type="submit" id="onclick_signup" class="btn btn-outline-danger">Sign Up</button>
                </div>
            </div>
        </form>
        
    </div>
  </section>
</body>
</html>