<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title} )}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaomile-Signup</title>
   
</head>
<body>
        <!-- <section id="content" class="vh-100 bg-image"> 



  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="button" data-mdb-button-init
                    data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
     -->

    <!-- Registration 3 - Bootstrap Brain Component -->
    <!-- <section id="content" class="p-3">
      <div class="container1 bg-prime shadow-sm">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="p-3">
              <h3 class="text-center">Welcome!</h3>
              <img class="img-fluid rounded mx-auto d-block mb-3" th:src="@{/images/rb_557.png}" alt="BootstrapBrain Logo">
              <p class="text-center">Already have an account? <a href="login" class="link-primary">Sign in</a></p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="p-3">
              <h2 class="text-center">Registration</h2>
              <h3 class="fs-6 text-secondary text-center">Enter your details to register</h3>
              <form data-th-action="@{'/register'}" data-th-object="${userReg}" method="post">
                <div class="row gy-3">
                  <div class="col-12">
                    <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="firstName" id="firstName" data-th-field="*{firstName}" placeholder="First Name">
                  </div>
                  <div class="col-12">
                    <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="lastName" id="lastName" data-th-field="*{lastName}"placeholder="Last Name">
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email"  data-th-field="*{email}"placeholder="name@example.com">
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Create Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" data-th-field="*{password}" placeholder="Password">
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="iAgree" name="iAgree">
                      <label class="form-check-label" for="iAgree">
                        I agree to the <a href="#" class="link-primary">terms and conditions</a>
                      </label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-danger w-100">Sign Up</button>
                  </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </section>
     -->
 <!-- tailwind signup -->
 <section id="content">
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-4 mx-auto lg:py-1">
        
        <div class="w-full bg-white rounded-xl shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-5 space-y-5 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Create an account
                </h1>
                <form data-th-action="@{'/register'}" data-th-object="${userReg}" method="post" class="space-y-5 md:space-y-9  ">
                  <div class="col-12">
                    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white form-label">First Name </label>
                    <input type="text" class="bg-gray-50 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-200 dark:focus:border-red-400" name="firstName" id="firstName" data-th-field="*{firstName}" placeholder="First Name" required="">
                  </div>
                  <div class="col-12">
                    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white form-label">Last Name  </label>
                    <input type="text" class="bg-gray-50 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-200 dark:focus:border-red-400" name="lastName" id="lastName" data-th-field="*{lastName}"placeholder="Last Name" required="">
                  </div>
                  <div class="col-12">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white form-label">Email </label>
                    <input type="email" class="bg-gray-50 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-200 dark:focus:border-red-400" name="email" id="email"  data-th-field="*{email}"placeholder="name@example.com"  required="">
                  </div>
                  <div class="col-12">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white form-label">Create Password  </label>
                    <input type="password" class="bg-gray-50 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-200 dark:focus:border-red-400" name="password" id="password" data-th-field="*{password}" placeholder="Password" required="">
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="iAgree" name="iAgree">
                      <label class="form-check-label text-white" for="iAgree">
                        I agree to the <a href="#" class="link-primary text-red-400">terms and conditions</a>
                      </label>
                    </div>
                  </div>
                  
                   
                    <input type="submit" value="Signup" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                </form>
                
            </div>
        </div>
    </div>
  </section>
</section>
    </body>
</html>